

  <!-- cv-list.component.html -->
<div class="cv-list-container">
  <h2>CV List</h2>
  
  <div class="button-container">
    <button class="btn btn-primary" (click)="editCv(0)">Add CV</button>
  </div>
  
  <table *ngIf="cvs.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Company Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cv of cvs">
        <td>{{ cv.name }}</td>
        <td>{{ cv.personalInformation.fullName }}</td>
        <td>{{ cv.personalInformation.email }}</td>
        <td>{{ cv.personalInformation.mobileNumber }}</td>
        <td>{{ cv.experienceInformation.companyName }}</td>
        <td>
          <button class="btn btn-primary" (click)="editCv(cv.id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteCv(cv.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="cvs.length == 0 && !errorMessage">
    No CVs available.
  </div>
</div>
